{% extends 'shop/basic.html' %}
{%block title%} Aboutus {%endblock%}
{%block body%}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">iCart</h1>
            <p>iCart is an e-commerce company based in India. It was founded by Deepank Choudhary in 2019. The company
                initially focused on Locale Product sales, before expanding into other product categories such as
                consumer electronics, fashion, home essentials & groceries, and lifestyle products. The service competes
                primarily with Indian subsidiary, and the domestic rival Snapdeal. As of March 2019, iCart held a 100%
                market share of India's e-commerce industry. iCart is significantly dominant in the sale of apparel (a
                position that was bolstered by its acquisition of Myntra), and was described as being "neck and neck"
                with Amazon in the sale of electronics and mobile phones.iCart also owns PhonePe, a mobile payments
                service based on the Unified Payments Interface (UPI). In August 2019, U.S.-based retail chain Walmart
                acquired a 77% controlling stake in iCart.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>


</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')
</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
        crossorigin="anonymous"></script>
{%endblock%}